<div class="login center-screen">
  <div class="message">
    &nbsp;
    <span class="error" *ngIf="message">{{message}}</span>&nbsp;
  </div>
  <mat-card>

    <form [formGroup]="loginForm">
      <mat-form-field>
        <!-- dirfocus -->
        <input formControlName="username" matInput placeholder="Username">
        <mat-error *ngIf="loginForm.get('username').errors">Please enter a username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password" matInput placeholder="Password">
        <mat-error *ngIf="loginForm.get('password').errors">Please enter a password</mat-error>
      </mat-form-field>

      <button (click)="onSubmit()" mat-mini-fab [disabled]="loginForm.invalid || disableForm">Login</button>
    </form>
  </mat-card>
  <div class="text-right">
    <a routerLink="/profile">Register</a>
  </div>
  <!-- <pre style="text-align: left;">{{ loginForm.value | json }}</pre> -->
</div>