body {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.message {
  color: #990000;
  font-style: italic;
  margin: 12px auto;
  text-align: center;
}

.mat-sidenav-content {
  background: #fcfcfc;
  padding-bottom: 35px;
}
